body {
    margin: 0px 0px;
    background-color:rgb(0, 21, 50);
}

header {
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.text-box {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 150px;
    margin-bottom: 90px;
}

div p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80%;
    border: solid rgba(242, 255, 0, 0.8) 3px;
    background-color: rgb(255, 236, 181);
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.click-button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

button {
    height: 50px;
    width: 60%;
    box-shadow: 3px 3px black;
    background-color: rgb(0, 21, 50);
    cursor: pointer;
    color: white;
    border: solid rgb(242, 255, 0) 3px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
}

button:active {
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}